# Minimum Django and REST framework version
Django>=1.8
djangorestframework>=3.3,<3.4

# Test requirements
pytest-django>=2.9,<2.10
pytest>=2.9,<2.10
pytest-cov>=2.2,<2.3
flake8>=2.5,<2.6

# wheel for PyPI installs
wheel>=0.29,<0.30

# MkDocs for documentation previews/deploys
mkdocs>=0.15,<0.16
